h1 {
  color:  #80cbc4;
  text-align: center;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #80cbc4;
  margin: 0;
}
::ng-deep.mat-form-field-wrapper{
  padding: 0;
}
